$green: #4ACE37;
$blue: #376DCE;
$black: #030D01;
$light-grey: #929293;
$orange: #F3720E;
$yellow: #E3E91C;
$red: #E9411C;
$white:#ECE5E3;

$background-color: #252525;
$secondary-background: #2b2b2b;
$tertiary-background: #393939;
$quaternary-background: #232323;
